# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg
Gemfile.lock

spec/rails_app/log/*.log
.idea

.rvmrc
tmp
.sass-cache
.rspec
pkg