<% content_for :style do %>
  <%= stylesheet_link_tag "lolita/i18n/application.css", :media => "screen,projection" %>
<% end %>
<div class="box i18n-box">
  <div class="boxtitle">
    <h1 class="black">I18n</h1>
    <div class="arrow">
    </div>
  </div>
  <div class="list">
    <ul class="tree">
    <% translation_tree(@translations).each do |key,value| %>
      <%=render :partial=>"tree",:locals=>{:key=>key,:tree=>value} %>
    <% end %>
    </ul>
  </div>
</div>